# Objective : To scrap reviews from flipkart.com for a product category of smart TV.

Collect the following from the web page: You must collect the information from min 20 pages.
a) Product name
b) Rating
c) Flipkart price
d) Actual price
e) Discount offered

In [2]:
# Installing the library beautiful soup

#!pip install bs4

In [3]:
# Lets import the library

from requests import get
from bs4 import BeautifulSoup

In [4]:
# STEP 1: Create a web - page link object

url = "https://www.flipkart.com/search?q=smart%20tv&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
# STEP 2: To request the server to connect with the webpage

# get() is used to connect with the web - page and it will extract the 
# web-page structure

response = get(url)

In [5]:
# STEP 3 - Convert the responce into a html format using beautifulSoup

bs4_obj = BeautifulSoup(response.text,"html.parser")

In [6]:
# STEP 4:Use a command of find_all() to extract all
# all the container which contain the master tag - div and master class -
# "_3pLy-c row"

master_container = bs4_obj.find_all('div', class_ = "_3pLy-c row")

len(master_container)

24

In [7]:
#To extract -a) Product name b) Rating c) Flipkart price d) Actual price e) Discount offered

In [8]:
# Check out the first container

first_container = master_container[0]

In [9]:
#Extract the name of the smart TV
first_container.find('div', class_ = '_4rR01T').text

'Mi 4A PRO 80 cm (32) HD Ready LED Smart Android TV With Google Data Saver'

In [10]:
#Extract the ratings
if master_container[1].find('div', class_ = '_3LWZlK') is not None: 
    x = master_container[1].find('div', class_ = '_3LWZlK').text
else: 
    x = "NA"
print(x)

4.4

In [11]:
# To extract the flipkart price
first_container.find('div', class_ = "_30jeq3 _1_WHN1").text

'₹13,999'

In [12]:
# To extract the actual price
first_container.find('div', class_ = "_3I9_wc _27UcVY").text

'₹14,999'

In [13]:
#To extract the discount offered 
first_container.find('div', class_ = '_3Ay6Sb').text

'6% off'

In [14]:
# Put everything into a single code and extract the required information
# from all 24 containers of page 1

# STEP 1: Create empty list of which every information you want extract

product_name = []
rating=[]
flipkart_price=[]
actual_price=[] 
discount=[]

# STEP 2: Use a for loop to extract the information

for x in master_container:
    
    # Extract the name of the smart TV
    
    productname = x.find('div', class_ = '_4rR01T').text
    product_name.append(productname)
    
    # Extrating the rating of the TV
    
    if master_container[1].find('div', class_ = '_3LWZlK') is not None: 
        x = master_container[1].find('div', class_ = '_3LWZlK').text
    else: 
        x = "NA"
    rating.append(x)
    
    # Extracting the FLIPKART price of the TV
    
    if master_container[1].find('div', class_ = '_30jeq3 _1_WHN1') is not None: 
        x = master_container[1].find('div', class_ = '_30jeq3 _1_WHN1').text
    else: 
        x = "NA"
    flipkart_price.append(x)
       
    # Extracting the actual price of the TV
    
    if master_container[1].find('div', class_ = '_3I9_wc _27UcVY') is not None: 
        x = master_container[1].find('div', class_ = '_3I9_wc _27UcVY').text
    else: 
        x = "NA"
    actual_price.append(x)
    
    # Extract the discount offered 
    
    if master_container[1].find('div', class_ = '_3Ay6Sb') is not None: 
        x = master_container[1].find('div', class_ = '_3Ay6Sb').text
    else: 
        x = "NA"
    discount.append(x)

In [15]:
# Please check the length of all the list must be same before you convert
# them into a data frame

print(len(product_name))
print(len(rating))
print(len(flipkart_price))
print(len(actual_price))
print(len(discount))

24
24
24
24
24

In [16]:
# Converting the list into the data frame 

import pandas as pd

df = pd.DataFrame({"Smart TV Name" : product_name,
                  "Rating" : rating,"Flipkart_Price" : flipkart_price,"Actual_Price" : actual_price,"Discount_offered" : discount})

df.head()

,Smart TV Name,Rating,Flipkart_Price,Actual_Price,Discount_offered
0,Mi 4A PRO 80 cm (32) HD Ready LED Smart Androi...,4.4,"₹25,999","₹28,999",10% off
1,Mi 4X 108 cm (43) Ultra HD (4K) LED Smart Andr...,4.4,"₹25,999","₹28,999",10% off
2,Mi 4A Pro 108 cm (43) Full HD LED Smart Androi...,4.4,"₹25,999","₹28,999",10% off
3,Mi 4X 125.7 cm (50) Ultra HD (4K) LED Smart An...,4.4,"₹25,999","₹28,999",10% off
4,Mi 4A Horizon Edition 80 cm (32) HD Ready LED ...,4.4,"₹25,999","₹28,999",10% off

In [17]:
# First create the list of the pages you want to extract

page_number = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

#Extact the information from first 20 pages

#Create the empty list for information you want

product_name = []
rating=[]
flipkart_price=[]
actual_price=[] 
discount=[]

for x in page_number:
    
    # Create the dynamic URL
    
    url ="https://www.flipkart.com/search?q=smart%20tv&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"

    # Create the response object
    
    response = get(url)
    
    # Create the beautiful Soup object
    
    bs4_obj = BeautifulSoup(response.text, "html.parser")
    
    # Create the master container

    master_container = bs4_obj.find_all('div', class_ = "_3pLy-c row")
    
    # Lets Iterate variable Y in the master container
    
    for y in master_container: 
        
        # Extract the name of the smart TV
    
        productname = y.find('div', class_ = '_4rR01T').text
        product_name.append(productname)
    
        # Extrating the rating of the TV

        if y.find('div', class_ = '_3LWZlK') is not None: 
            x = y.find('div', class_ = '_3LWZlK').text
        else: 
            x = "NA"
        rating.append(x)
    
        # Extracting the FLIPKART price of the TV

        if y.find('div', class_ = '_30jeq3 _1_WHN1') is not None: 
            x = y.find('div', class_ = '_30jeq3 _1_WHN1').text
        else: 
            x = "NA"
        flipkart_price.append(x)

        # Extracting the actual price of the TV

        if y.find('div', class_ = '_3I9_wc _27UcVY') is not None: 
            x = y.find('div', class_ = '_3I9_wc _27UcVY').text
        else: 
            x = "NA"
        actual_price.append(x)

        # Extract the discount offered 

        if y.find('div', class_ = '_3Ay6Sb') is not None: 
            x = y.find('div', class_ = '_3Ay6Sb').text
        else: 
            x = "NA"
        discount.append(x)

In [18]:
# Please check the lenght of all the list must be same before you convert
# them into a data frame

print(len(product_name))
print(len(rating))
print(len(flipkart_price))
print(len(actual_price))
print(len(discount))

480
480
480
480
480

In [19]:
# Converting the list into the data frame 

import pandas as pd

df1 = pd.DataFrame({"Smart TV Name" : product_name,
                  "Rating" : rating,"Flipkart_Price" : flipkart_price,"Actual_Price" : actual_price,"Discount_offered(%)" : discount})


df1.head()

,Smart TV Name,Rating,Flipkart_Price,Actual_Price,Discount_offered(%)
0,Mi 4A PRO 80 cm (32) HD Ready LED Smart Androi...,4.4,"₹13,999","₹14,999",6% off
1,Mi 4X 108 cm (43) Ultra HD (4K) LED Smart Andr...,4.4,"₹25,999","₹28,999",10% off
2,Mi 4A Pro 108 cm (43) Full HD LED Smart Androi...,4.4,"₹22,499","₹25,999",13% off
3,Mi 4X 125.7 cm (50) Ultra HD (4K) LED Smart An...,4.4,"₹31,999","₹34,999",8% off
4,Mi 4A Horizon Edition 80 cm (32) HD Ready LED ...,4.3,"₹14,499","₹15,999",9% off

In [20]:
# Lets remove the Rupees symbol from the Price column

df1['Flipkart_Price'] = df1['Flipkart_Price'].str.replace("₹", "")
df1['Actual_Price'] = df1['Actual_Price'].str.replace("₹", "")
df1['Discount_offered(%)'] = df1['Discount_offered(%)'].str.replace("% off", "")

In [21]:
df1.head()

,Smart TV Name,Rating,Flipkart_Price,Actual_Price,Discount_offered(%)
0,Mi 4A PRO 80 cm (32) HD Ready LED Smart Androi...,4.4,"13,999","14,999",6
1,Mi 4X 108 cm (43) Ultra HD (4K) LED Smart Andr...,4.4,"25,999","28,999",10
2,Mi 4A Pro 108 cm (43) Full HD LED Smart Androi...,4.4,"22,499","25,999",13
3,Mi 4X 125.7 cm (50) Ultra HD (4K) LED Smart An...,4.4,"31,999","34,999",8
4,Mi 4A Horizon Edition 80 cm (32) HD Ready LED ...,4.3,"14,499","15,999",9

In [22]:
df1.shape

(480, 5)

#### Thus, we had extracted the reviews of 20 pages from flipkart.com for a product category of smart TV.

#### We can use this to compare the actual price with discount price given by the flipkart & even with other company's prices.